body {
  display: flex;
  flex-direction: column;
  background-color: darkgrey;
  max-width: min-content;
  margin: auto;
}

header {
  height: 90px;
  background-color: rgb(44, 44, 44);
  display: flex;
  flex-direction: row;
}

header img {
  margin: 10px;
  height: 70px;
}

nav {
  margin: auto;
  display: flex;
}

header ul {
  display: flex;
  height: 20px;
  width: 700px;
  color: gray;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-family: 'Archivo Narrow', sans-serif;
}

main {
  display: flex;
  flex-direction: column;
}

main * {
  margin: 10px;
  margin-bottom: 5px;
}

/* section {
  width: 960px;
} */

section:nth-child(1) img {
}

section:nth-child(2) {
  display: flex;
}

section:nth-child(2) img {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

section:nth-child(3) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* section:nth-child(3) img {
  margin: auto;
} */

article {
  display: flex;
  flex-direction: column;
  justify-content: right;
}

button {
  background-color: black;
  color: beige;
  font-family: 'Archivo Narrow', sans-serif;
  width: 120px;
}

h3 {
  font-family: 'Bebas Neue', cursive;
}

p {
  overflow: scroll;
  height: 400px;
  font-family: 'Archivo Narrow', sans-serif;
}

footer {
  height: 120px;
  background-color: rgb(44, 44, 44);}